@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
  
  font-family: "Poppins", sans-serif;
}


.container-fluid {
    display:flex;
    
    justify-content:center;
    align-items: center;
    position: relative;
    margin-left: 3.445rem;
}




    h6 {
        color: rgb(226, 21, 21);
        text-transform: uppercase;
        font-size: 15px;
    }

    h1 {

       background-position: left;
        font-size: 50px;
        font-weight: bold;
       
    }
 
    h7{
      font-size: 15px;
    }
    button {
      padding: 15px 40px;
      margin-top: 2rem;
      margin-right: 1rem;
      background-color: blue;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 12px;
      font-weight: bolder;
  }
    /*.main__img {
      //clip-path: circle(45% at 50% 49%);
     // cursor: pointer;
    }*/
      .whatsapp{
        padding-left: 6em; 
    padding-right: 6em; 
    
      }
      .strightline{
        padding-left: 6em; 
        padding-right: 6em; 
      }
  

.downarrow{
  padding-left: 10em; 
  padding-right: 20em; 
}



    








   

    
    




@media (max-width:600px) {

    .main__content {
        margin-left: 0;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img  {
        width: 250px;
       
    }

    

    

.search{
    background-color:white;
    border: 2px white;
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:black;
    font-family: inherit;
    float:right;
}


}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Stops the float property from affecting content after the columns */
  .columns:after {
    content: "";
    display: table;
    clear: both;
  }

.tenk{
  float: right;
}
.icon{
  color: orangered;
  
  
}